<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
    <link rel="stylesheet" href="/stylesheets/communitModal.css" />
    <link rel="stylesheet" href="/stylesheets/abandoned.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  </head>
  <body>
    <%- include('includes/header') %> 
    <main>
      <header class="masthead">
        <div class="container">
          <div class="masthead-subheading">힘든 동물들을 한번 살펴보세요.</div>
          <div class="masthead-heading text-uppercase">
            This Site For Animal
          </div>
        </div>
      </header>
      <section id="cardContainer">
        <%-include('includes/articles',{articles : boardOfMissing.articles, post : 'missing', value : 'missing'})%>
        <%-include('includes/articles',{articles : boardOfAbandoned.articles, post : 'abandoned', value : 'abandoned'})%>
      </section>
      <script>
        window.onload = function () {
          const abandonedMax = '<%=boardOfAbandoned.maxIndex%>'
          const missingMax = '<%=boardOfMissing.maxIndex%>'

          //URL 정리
          const curURL = window.location.href
          const url = new URL(curURL)

          const urlParams = url.searchParams
          const missingURL = urlParams.get('missing')
          const abandonedURL = urlParams.get('abandoned')

          getPagination('missing', missingMax, abandonedURL);
          getPagination('abandoned', abandonedMax, missingURL);
        };
        const getPagination = (value, maxIndexVal, preIndex)=>{
          const maxIndex = maxIndexVal
          let currentPage;
          const pagination = document.getElementById(value);
          if (!currentPage) {
            paging(maxIndex, currentPage, value, preIndex);
          }
          pagination.addEventListener('click', function (e) {
            currentPage = e.target.innerHTML;
            paging(maxIndex, currentPage, value, preIndex);
          })
        }
        function paging(totalPage, currentPage = 1,value, preIndex) {
          let otherValue
          if(value==='missing'){
            otherValue='abandoend'
          }else{
            otherValue='missing'
          }
          const pageCount = 5;
          let last = +currentPage + 2;
          if (currentPage < 3) {
            last = 5;
          }
          if (last > totalPage) {
            last = totalPage;
          }
          let first = last - (pageCount - 1);
          if(first<1){
            first = 1
          }
          const next = last + 1;
          const prev = first - 1;

          const pages = document.getElementById(value);
          pages.innerHTML = '';
        
          //value대로 작업
          if (first > 1) {
            const pageItem = document.createElement('li');
            pageItem.className = 'page-item';
            pageItem.innerHTML = `<a class="page-link" href="/shelter?${value}=${prev}&${otherValue}=${preIndex}">prev</a>`;
            pages.appendChild(pageItem);
          }
          for (let i = first; i <= last; i++) {
            const pageItem = document.createElement('li');
            pageItem.className = 'page-item';
            pageItem.innerHTML = `<a class="page-link" href="/shelter?${value}=${i}&${otherValue}=${preIndex}">${i}</a>`;
            pages.appendChild(pageItem);
          }
          if (next > 5 && next < totalPage) {
            const pageItem = document.createElement('li');
            pageItem.className = 'page-item';
            pageItem.innerHTML = `<a class="page-link" href="/shelter?${value}=${next}&abandoned=${preIndex}">next</a>`;
            pages.appendChild(pageItem);
          }
        }       
      </script>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
