<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
    <link rel="stylesheet" href="/stylesheets/communitModal.css">
    <link rel="stylesheet" href="/stylesheets/article.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>    
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <%- include('includes/header') %> 
    <!-- 메인 헤더-->
    <header class="masthead">
      <div class="container">
        <div class="masthead-subheading">힘든 동물들을 한번 살펴보세요.</div>
        <div class="masthead-heading text-uppercase">This Site For Animal</div>
      </div>
    </header>
    <!--커뮤니티 섹션-->
    <section>
      <div class="communityContainer">
        <div id="communityContainer">
          <div class="accordion" id="accordionExample">
            <%for(i of articles){%>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target= <%='#collapse' + i._id%>
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                   <%=i.title%>
                  </button>
                  </h2>
                <div
                  id=  <%='collapse' + i._id%>
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <%=i.content%>
                    <article class="reply-article"></article>
                  </div>
                </div>
              </div>
            <%}%>
          </div>
        </div>
        <!--받아온 데이터에 따라서 페이지 링크 갯수를 만들어줘야함.-->
        <nav aria-label="Page navigation example" class="navpage">
          <!-- Modal -->
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            id="modalBtn" style="float: right;"
          >
            입력하기
          </button>
          <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
          >
          <div
          class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          >
          <div class="modal-content">
            <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    동물들을 사랑하는 사람들과 정보를 나눠요.
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form action="/community" method="post" class="communityBox" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="title" name="title" required>
                      <label for="title">글 제목</label>
                    </div>
                    <div class="form-floating">
                      <textarea class="form-control" id="content" name="content" style="height: 100px" required></textarea>
                      <label for="content">글 내용</label>
                    </div>
                    <input type="submit" id="submit" value="등록" />
                  </form>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
          <ul class="pagination" id="page-container">
          </ul>
        </nav>
      </div>
      <script>
        window.onload = function () {
          getPagination();
        };
        const getPagination = ()=>{
          const maxIndex ='<%=maxIndex%>'
          let currentPage;
          const pagination = document.getElementById('page-container');
          if (!currentPage) {
            paging(maxIndex, currentPage);
          }
          pagination.addEventListener('click', function (e) {
            currentPage = e.target.innerHTML;
            paging(maxIndex, currentPage);
          })
        }
        function paging(totalPage, currentPage = 1) {
          const pageCount = 5;
          let last = +currentPage + 2;
          if (currentPage < 3) {
            last = 5;
          }
          if (last > totalPage) {
            last = totalPage;
          }
          let first = last - (pageCount - 1);
          if(first<1){
            first = 1
          }
          const next = last + 1;
          const prev = first - 1;

          const pages = document.getElementById('page-container');
          pages.innerHTML = '';
        
          if (first > 1) {
            const pageItem = document.createElement('li');
            pageItem.className = 'page-item';
            pageItem.innerHTML = `<a class="page-link" href="/community?page=${prev}">prev</a>`;
            pages.appendChild(pageItem);
          }
          for (let i = first; i <= last; i++) {
            const pageItem = document.createElement('li');
            pageItem.className = 'page-item';
            pageItem.innerHTML = `<a class="page-link" href="/community?page=${i}">${i}</a>`;
            pages.appendChild(pageItem);
          }
          if (next > 5 && next < totalPage) {
            const pageItem = document.createElement('li');
            pageItem.className = 'page-item';
            pageItem.innerHTML = `<a class="page-link" href="/community?page=${next}">next</a>`;
            pages.appendChild(pageItem);
          }
        }       
      </script>
    </section>
    <!-- Footer-->
    <%- include('includes/footer') %> 
  </body>
</html>
